/* –––––––– COMMON STYLES –––––––––  */
* {
  box-sizing: border-box;
}
body {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  /* design */
  color: #161616;
  background-image: linear-gradient(to bottom, rgba(244, 250, 255, 0) 0%, #a2d5ff 100%);
}
.components-page {
  padding: 50px 20px 300px;
}
/* –––––––––––––––––––––––––––––––––––––––––  */
/* background-image */
.background-image-svg {
  width: 300px;
  height: 100px;
  margin: 10px;
  background-image: url("img/cheese.svg");
  background-repeat: repeat;
}
.background-image-img {
  width: 300px;
  height: 100px;
  margin: 10px;
  background-image: url("img/img-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* –––––––––––––––––––––––––––––––––––––––––  */
/* flexbox */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  /* box model */
  height: 400px;
  background-color: white;
  border: 1px solid navy;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 200px;
}
.flex-element {
  width: 300px;
}
.flex-element-1 {
  order: 5;
  background-color: #009688;
}
.flex-element-2 {
  order: 2;
  background-color: #2196f3;
}
.flex-element-3 {
  order: 4;
  background-color: #00bcd4;
  flex-grow: 5;
}
.flex-element-4 {
  order: 1;
  background-color: #00b707;
}
.flex-element-5 {
  order: 3;
  background-color: #9e9e9e;
}
/* –––––––––––––––––––––––––––––––––––––––––  */
/* background-color */
.background-color {
  width: 200px;
  height: 200px;
  background-color: #9e9e9e;
  position: relative;
  margin: 50px;
  margin-bottom: 100px;
}
.background-color-child {
  width: 200px;
  height: 200px;
  background-color: rgba(0, 188, 212, 0.5);
  background-image: url("img/avocado.svg");
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  border: 1px solid #00bcd4;
  position: absolute;
  top: 50px;
  left: 50px;
}
/* –––––––––––––––––––––––––––––––––––––––––  */
/* linear-gradient */
.linear-gradient {
  width: 200px;
  height: 200px;
  background-image: linear-gradient(#9c27b0, black);
  margin: 50px;
}
.linear-gradient-1,
.linear-gradient-2,
.linear-gradient-3,
.linear-gradient-4 {
  width: 200px;
  height: 200px;
  margin: 50px;
}
.linear-gradient-1 {
  background-image: linear-gradient(to top left, blue, black);
}
.linear-gradient-2 {
  background-image: linear-gradient(90deg, green, black);
}
.linear-gradient-3 {
  background-image: linear-gradient(yellow, #03a9f4, gray, black);
}
.linear-gradient-4 {
  background-image: linear-gradient(orange 10%, #03a9f4 60%, blue 80%, black);
}
/* –––––––––––––––––––––––––––––––––––––––––  */
/* radil-gradient */
.radial-gradient {
  width: 400px;
  height: 200px;
  background-image: radial-gradient(#f4b1ff, black);
  margin: 50px;
}
.radial-gradient-1,
.radial-gradient-2 {
  width: 400px;
  height: 200px;
  margin: 50px;
}
.radial-gradient-1 {
  background-image: radial-gradient(at left bottom, pink, black);
}
.radial-gradient-2 {
  background-image: radial-gradient(circle, #f4b1ff, black);
}
.gradient-generator {
  width: 200px;
  height: 200px;
  background-image: radial-gradient(ellipse at center, #d2dfed 1%, #e85fd3 49%, #e85fd3 49%, #101613 84%, #799bc8 100%);
  margin: 50px;
}
/* –––––––––––––––––––––––––––––––––––––––––  */
/* box-shadow */
.box-shadow {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid gray;
  box-shadow: 10px 15px 5px 1px black;
  margin: 30px;
}
.box-shadow-inset {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid gray;
  box-shadow: inset 0 1px 20px 10px blue;
  margin: 30px;
}
/* –––––––––––––––––––––––––––––––––––––––––  */
/* calc() */
.calc-parent {
  height: 300px;
  border: 1px solid gray;
}
.calc-parent-inner {
  display: flex;
  height: 300px;
  margin-left: -10px;
  margin-right: -10px;
}
.calc-parent-part {
  display: flex;
  height: 200px;
  border: 1px solid gray;
}
.calc-parent-2 {
  display: flex;
  height: 200px;
  border: 1px solid gray;
  margin: 50px;
}
.calc-child {
  width: calc(30%);
  background-color: blue;
  margin: 0 10px;
}
.calc-child-part {
  width: calc(4.28571429%);
  background-color: green;
  margin: 0 5px;
}
.calc-child-responsive {
  width: calc(30%);
  background-color: yellow;
}
.calc-child-fixed {
  width: 50px;
  margin-left: 20px;
  background-color: blue;
}
/* –––––––––––––––––––––––––––––––––––––––––  */
/* hover */
.hover {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 20px;
}
.hover:hover {
  background-color: #03a9f4;
  width: 50px;
  height: 50px;
  border: 1px dashed black;
}
.link-hover {
  color: green;
  font-size: 36px;
}
.link-hover:hover {
  color: black;
  text-decoration: none;
}
/* –––––––––––––––––––––––––––––––––––––––––  */
/* focus */
.focus {
  height: 50px;
  width: 150px;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
  outline: 0;
}
.focus:focus {
  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.8);
}
/* –––––––––––––––––––––––––––––––––––––––––  */
/* fisrt & last child */
.pseudo-classes-parent {
  padding: 20px;
  border: 1px dashed black;
  margin: 20px 0;
}
.pseudo-classes-child {
  /* fisrt & last */
  /* nth-child */
}
.pseudo-classes-child:first-child {
  background-color: blue;
  margin-top: 0;
}
.pseudo-classes-child:last-child {
  background-color: green;
  margin-bottom: 0;
}
.pseudo-classes-child:nth-child(2) {
  border-color: red;
}
.pseudo-classes-child:nth-child(2n) {
  background-color: yellow;
}
.pseudo-classes-child:nth-child(odd) {
  background-color: pink;
}
/* –––––––––––––––––––––––––––––––––––––––––  */
/* pseudo elements: beafore & after */
.pseudo-elements:before {
  content: 'Я впереди всего текста';
  color: red;
}
.pseudo-elements:after {
  content: 'Я после всего текста';
  color: blue;
}
/* –––––––––––––––––––––––––––––––––––––––––  */
/* transition */
.transition-color {
  font-size: 30px;
  color: black;
  transition: color 1s ease 1s, font-size 2s ease-out;
}
.transition-color:hover {
  color: red;
  font-size: 45px;
}
.transition-left {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  position: relative;
  left: 0;
  transition: left 3s ease-in 1s, width 2s linear;
}
.transition-left:hover {
  left: 200px;
  width: 300px;
}
/* –––––––––––––––––––––––––––––––––––––––––  */
/* LESSION #7 ––––––––––––––––––––––––––––––  */
/* –––––––––––––––––––––––––––––––––––––––––  */
/* transform: translate */
.transform-parent {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}
/* –––––––––––––––––––––––––––––––––––––––––  */
/* transform: translate */
.translate-parent {
  width: 300px;
  height: 200px;
  background-color: gray;
  margin: 100px;
  position: relative;
}
.translate-child {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid black;
  position: absolute;
  top: 0;
  left: 0;
}
.translate-child-1 {
  transform: translate(100px, 100px);
}
.translate-child-2 {
  transform: translate(-50px, -80px);
}
/* –––––––––––––––––––––––––––––––––––––––––  */
/* transform: rotate */
.rotate-parent {
  width: 300px;
  height: 200px;
  background-color: gray;
  margin: 100px;
  position: relative;
}
.rotate-child {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid black;
  position: absolute;
  top: 0;
  left: 0;
}
.rotate-child-1 {
  transform: rotate(100deg);
}
.rotate-child-2 {
  transform: rotate(-30deg);
}
/* –––––––––––––––––––––––––––––––––––––––––  */
/* transform: scale */
.scale-parent {
  width: 300px;
  height: 200px;
  background-color: gray;
  margin: 100px;
  position: relative;
}
.scale-child {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid black;
  position: absolute;
  top: 0;
  left: 0;
}
.scale-child-1 {
  transform: scale(2.5);
}
.scale-child-2 {
  font-size: 50px;
  transform: scale(-1, 0.5);
}
/* –––––––––––––––––––––––––––––––––––––––––  */
/* transform: scale */
.skew-parent {
  width: 300px;
  height: 200px;
  background-color: gray;
  margin: 100px;
  position: relative;
}
.skew-child {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid black;
  position: absolute;
  top: 0;
  left: 0;
}
.skew-child-1 {
  transform: skew(-70deg);
}
.skew-child-2 {
  transform: skew(-10deg, 50deg);
}
/* –––––––––––––––––––––––––––––––––––––––––  */
/* transform-origin */
.transform-origin-parent {
  width: 300px;
  height: 200px;
  background-color: gray;
  margin: 100px;
  position: relative;
}
.transform-origin-child {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid black;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 50%;
}
/* –––––––––––––––––––––––––––––––––––––––––  */
/* animation */
.animation-1 {
  width: 300px;
  height: 300px;
  border: 2px dashed black;
  background-color: green;
  animation-name: animation-bg-color;
  animation-duration: 5s;
  animation-delay: 3s;
  animation-iteration-count: 1;
}
.animation-1:hover {
  animation-play-state: paused;
}
@keyframes animation-bg-color {
  from {
    background-color: yellow;
    transform: translate(0, 0);
    width: 300px;
    box-shadow: 0 0 5px 5px #ffffff;
  }
  to {
    background-color: blue;
    transform: translate(200px, 300px);
    width: 500px;
    box-shadow: 0 0 50px 50px rgba(255, 255, 255, 0.5);
  }
}
.animation-2 {
  width: 100px;
  height: 100px;
  background-color: black;
  opacity: .8;
  animation-name: animation-rotate;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
  margin: 50px;
}
@keyframes animation-rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* –––––––––––––––––––––––––––––––––––––––––  */
.toggled {
  background-color: red;
}
/* –––––––––––––––––––––––––––––––––––––––––  */
/*# sourceMappingURL=components.css.map */
